FOOD_DATA_PATH=data/food/ingredient_knowledge_base_500_with_alternate_names.csv
NUTRITION_DATA_PATH=data/nutrition/nutrition_knowledge_dataset.csv
PERSONAL_CARE_DATA_PATH=data/personal_care/personal_care_ingredients_dataset_csv.xlsx
